.LoginModal {
    display: flex;
    flex-direction: column;
    height: 59vh;
    width: 35vw;
    background: rgba(255, 255, 255, 0.99);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    transition: 500ms ease-in;
    animation: flyInLeft 500ms ease-in alternate;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .4);

}

input {
    color: rgb(0, 0, 0);
}

input::placeholder {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
}

.input.email {
    margin-top: 50px; 
    width: 70%;
}

.block {
    width: 100%;
}

.member {
    font-size: 1.2rem;
}

.signUpTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    background: rgb(31, 41, 54);
    width: 100%;
}

.googleSignIn {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px; 
    font-size: 1.5rem; 
    height: 6.5vh; 
    background: rgba(248, 247, 247, 0.938);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.3);
    font-weight: 600; 
    letter-spacing: 1.5px;
    width: 80%;
}

.googleSignIn:hover {
    cursor: pointer;
}

.emailSignIn {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px; 
    margin-bottom: 40px;
    font-size: 1.5rem; 
    height: 6.5vh; 
    background: rgba(248, 247, 247, 0.938);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.3);
    font-weight: 600; 
    letter-spacing: 1.5px;
    width: 80%;
}

.emailSignIn:hover {
    cursor: pointer;
}

.signUpTitle {
    color: white; 
    font-size: 2rem; 
    font-weight: 400;
    letter-spacing: 2px;
}

.submitButton {
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2em;
    font-weight: 600;
    background: rgba(4, 97, 139, 0.881);
    border-radius: 5px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    letter-spacing: 1.1px;
    box-shadow: 0px 0px 2px .2px rgba(255, 255, 255, .4);
    transition: 150ms ease-in;
}

.input {
    padding: 6px;
    width: 40%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.836);
    background: none;
    outline: none;
    transition: 500ms ease;
    backface-visibility: hidden;
    letter-spacing: 2px;

}

.input:hover {
    border-bottom: 1px solid rgba(2, 107, 155, 0.836);

}

.input:focus {
    border-bottom: 1px solid rgba(0, 225, 255, 0.836);
}

@keyframes flyInLeft {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}