.SignUpPage {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: white;
}

.loginLogo {
    height: 230px;
    animation: 500ms flyIn ease-in-out alternate, 800ms fadeIn ease-in-out alternate;
}


