.OptionModal {
    display: flex;
    flex-direction: column;
    background: rgba(245, 245, 245, 0.075);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    height: 59vh;
    width: 30%;
    transition: 300ms ease-in-out;
    backface-visibility: hidden;
}

.OptionModal.one {
    animation: option1 750ms ease alternate;
}

.OptionModal.two {
    animation: option2 750ms ease alternate, option2Scale 800ms ease alternate;
    transform: scale(1.1);
}

.OptionModal.three {
    animation: option3 750ms ease alternate;
}

.optionTitle {
    font-weight: 600;
}

/* .OptionModal.one:hover {
    transform: scale(1.1);
}

.OptionModal.two:hover {
    transform: scale(1.1);
}

.OptionModal.three:hover {
    transform: scale(1.1);
} */


@keyframes option1 {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes option2 {
    0% {
        opacity: 0;
        transform: translateY(-200px), scale(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes option2Scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes option3 {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}