.OptionsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh; 
}

.optionTitle {
    margin-top: 10px;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.optionsModalContainer {
    display: flex;
    margin-top: 20px;
    flex-direction: row;  
    justify-content: space-evenly;
    text-align: center; 
    width: 100vw; 
}